input {
  border-radius: 3px;
  padding: 5px;
  margin: 0 1px;
  width: 140px;
  cursor: pointer;
  border-style: none;
  box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 1);
}

/* Para aumentar el area de click realizo lo siguiente */
input::-webkit-calendar-picker-indicator {
  padding:11px 0 11px 122px;
  margin-left: -5px;
  position:absolute;
}

@media screen and (max-width: 768px) {
  input::-webkit-calendar-picker-indicator {
    padding: 15px 0 15px 224px;
    margin-left: -15px;
    position:absolute;
  }
}

